{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["chrome >= 62"]
      }
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["chrome >= 62"]
          }
        }]
      ]
    }
  }
}
